/*
 * This document and all those relating to it are property of WITR 89.7, Rochester Institute of Technology
 * Developer: John Phillip Betley
 * © 2011 WITR 89.7 | Rochester Institute of Technology
 */


/************************
-----HTML5---------------
************************/

#thanks {
	display: hidden !important;
}


#sitewrap {
	background-color: #cccccc;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	clear: both;
	overflow: hidden;
	padding-bottom: 15px;
}

ul {
	list-style: none;
}

li {
	margin: 0px;
	list-style: none;
}


a {
	margin: 0px;
	text-decoration: none;
	font-family: AlternateGothic2BTRegular, BebasNeueRegular, LeagueGothicRegular;
}


body {
	background: #0a0d0e;
	font-family: AlternateGothic2BTRegular, BebasNeueRegular, LeagueGothicRegular;
}

hr {
	height: 1px;
	margin: 10px;
}

.border {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bordert {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.borderb {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.header {
	color: white;
	padding: 10px 0px 0px 0px;
	text-transform: uppercase;
	font-size: xx-large;
	font-weight: normal;
}

.large_header {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

#copyright {
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

a {
	color: #00a7e1;
}

a:hover {
	cursor: pointer;
}

.general_wrap {
	padding: 20px 20px 20px 20px;
	margin: 5px 0px 5px 20px;
	width: 880px;
	background: black;
	color: white;
}

.boxlist {
	border: 1px solid white;
	padding: 5px;
	width: 200px;
	float: right;
	clear: both;
}

#error_page {
	font-size: 50px;
}

input[type=text], input[type=password], input[type=email] {
	display: block;
	margin: 0 0 1em 0;
	width: 260px;
	border: 5px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 1em;
}

input[type=file] {
	display: block;
	margin: 0 0 1em 0;
	padding: 1em;
}

textarea {
	display: block;
	margin: 0 0 1em 0;
	padding: 1em;
	width: 500px;
}

input[type=submit], .button, button {
	border: none;
	display: inline-block;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #00a7e1;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
}

input[type=checkbox] {
	margin-bottom: 10px;
}

input[type=submit]:hover, button:hover, .button:hover {
	background: #0090c4;
	cursor: pointer;
}

.black {
	background-color: black;
	background: black;
	color: white;
}

.white {
	background-color: white;
	background: white;
	color: black;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.clear_both {
	clear: both;
}

.logout_button {
	font-family: Verdana;
	min-width: 50px;
	text-align: center;
}

.button_container {
	float: right;
	margin-top: 10px;
}

.clean_type {
	font-family: Verdana;
}

.general_section {
	margin-bottom: 20px;
}

.general_section .header {
	border-bottom: 2px white solid;
	margin-bottom: 15px;
}

.horizontal_list li {
	float: left;
	position: relative;
	margin-right: 20px;
}

.padding {
	padding: 10px;
}

.error {
	color: red;
}



/************************
-----BANNER/NAV----------
************************/

#header {
	height: 220px;
	background: url('../img/header/banner.png');
	background-repeat: repeat-x;
	background-color: #cccccc;
}

#logo {
	height: 175px;
	width: 175px;
	margin-left: 25px;
	margin-top: 20px;
	margin-right: 50px;
	box-shadow: 5px 5px black;
	-moz-box-shadow: 5px 5px black;
	-webkit-box-shadow: 5px 5px black;
	float: left;	
}

#nav {	
	z-index: 1;
	margin-top: 15px;
}

	#nav li { 
		float: left;
		display: block;
		position: relative;
		z-index: 500;
		padding-right: 5px;
		padding-left: 5px;
		margin-right: 10px;	
	}
	
		#nav li a {
			display: block; 
			font-size: large;
			text-transform: uppercase;
			text-decoration: none;
			color: black;
		}
	
		#nav li ul {
	        position:absolute;
	        left: 0px;
	        display:none;
	        padding: 0px;
			width: 100%;
	        list-style:none;
			text-align: center;
	        background: url('../img/header/menu_bg.png');
	        background-repeat: repeat;
	    }

			#nav ul li {
				width: 92%;
				padding-top: 2px;
				padding-bottom: 1px;
			}
			
			#nav ul a {
				font-size: small;
				text-align: center;
		        display: block;
		        color: black;
				width: 100%;
		    }

#music_player {
	margin-left: 10px;
	margin-top: -40px;
	width: 80px;
	float: right;
    margin-right: 10px;
}

#social_wrap {
	margin-left: 250px;
	float: left;
}

.social_icon {
	margin-top: -5px;
	margin-right: 5px;
	float: left;
}	

.social_icon img {
	width: 30px;
	height: 30px;
}

#twitter {
	margin-top: 1px;
}



/************************
-----MUSIC PLAYER--------
************************/

#player_popup {
	width: 555px;
	background: black;
	padding: 15px;
	display: none;

	/* place overlay on top of other elements */
	z-index:10000;
	
	min-height:200px;
	border:1px solid #666;

	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}

	#player_popup .close {
		background:url(../img/close.png);
		position:absolute;
		right:-15px;
		top:-15px;
		cursor:pointer;
		height:35px;
		width:35px;
	}



/************************
-----HOME----------------
************************/

#home {
	clear: both;
}

/************************
-----SIDEBAR-------------
************************/

#sidebar {
	margin-left: 12.5px;
	width: 175px;
	float: left;
}

#nowplaying {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #06a7e1;
	width: 175px;
}

#LLButton {
	width: 175px;
	height: 38px;
	background-image:url('../img/nowplaying/LLBtn.png');
	background-position: 0px 0px;
}

#LLButton:hover {
	background-position: 0px -38px;
}

#LoggerLink {
	margin-top: 15px;
	font-size: 16px; 
	letter-spacing: 1px;
	color: #f9ec33; 
	text-decoration: underline;
}

#LoggerLink:hover {
	color: white;
}

#newsocial {
	display:none; /* until i get the newsocial png's */
	width: 205px;
	height: 40px;
	background-color: #0a71ac;
}

#newFacebook {
	float: left;
	width: 104px;
	height: 40px;
	background-image:url('../img/newsocial/facebook.png');
	background-position: 0px 0px;
}

#newFacebook:hover {
	background-position: 0px -40px;
}

#newTwitter {
	float: right;
	width: 101px;
	height: 40px;
	background-image:url('../img/newsocial/twitter.png');
	background-position: 0px 0px;
}

#newTwitter:hover {
	background-position: 0px -40px;
}

#sidecontent {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: white;
	width: 175px;
}

#blogimg {
	width: 175px;
	margin: 20px 0px 20px 0px;
}

#toptwenty_header {
	text-transform: uppercase;
	font-size: xx-large;
	margin-left: 25px;
}

#toptwenty {
	/*
	text-indent: -20px;
	margin-left: 5px;
	padding-right: 15px;
	*/
	padding-left: 15px;
}

#toptwenty li {
	list-style: decimal;
}

#request {
	background: black;
	color: #7bc1eb;
	width: 175px;
	padding-bottom: 5px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
	
	#request p {
		margin-left: 10px;
		margin-top: 0px;
		font-size: 15px;
	}
	
	#request img {
		height: 75px;
		width: 175px;
	}

#yes {
	text-transform: uppercase;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

	#yes a {
		color: #7bc1eb;
	}

#make {
	font-size: 24px;
	padding-top: 5px;
	padding-left: 10px;
	letter-spacing: 0px;
	text-transform: uppercase;
}







/************************
-----PRIMARY-------------
************************/

#home_primary {
	padding: 20px;
	width: 680px;
	background: black;
	float: right;
	margin-right: 10px;
}


/************************
-----NEWS FEED-----------
************************/

#news {
	margin: 5px;
	width: 670px;
	height: 350px;
	padding-bottom: 10px;
}

.scrollable {
	position: relative;
	overflow: hidden;
	width: 670px;
	height: 350px;
}

.newsimg {
	width: 670px;
}

.items {
	width: 20000em;
	position: absolute;
}

.items li{ 
	width: 670px;
	height: 350px;
	float: left;
	position: relative;
}

.navi {
	position: absolute;
	top: 300px;
	left: 530px;
}

.navi div {
	width: 0px;
	height: 0px;
	padding: 10px;
	margin: 5px;
	float: left;
	border: 1px solid black;
	cursor: pointer;
}


/************************
-----ALBUM REVIEWS-------
************************/

#album_section {
	margin: 5px;
}
	#album_section .header {
		margin-bottom: 10px;
	}

.albumreview {
	background: white;
	padding: 10px;
	float: left;
	width: 310px;
}
	.albumreview p {
		min-height: 250px;
	}

	.albumreview img {
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		width: 310px;
		height:  310px;
	}
	
	.albumreview h2 {
		font-size: x-large;
		margin-bottom: -5px;
	}


/************************
-----FEATURED VIDEO------
************************/

#videopic {
	width: 385px;
	margin-top: 10px;
	margin-left: 0px;
	border: 1px solid white;
	float: left;
}

#videoinfo {
	margin-top: 10px;
	margin-right: 5px;
	padding: 10px;
	min-height: 270px;
	width: 245px;
	background: white;
	float: right;
}

	#videoinfo h3 {
		font-size: x-large;
		text-transform: uppercase;
		margin-bottom: -5px;
	}

#videosection {
	height: 370px;
	margin-left: 5px;
}




/************************
-----CONTACT-------------
************************/

	#contact hr {
		margin-bottom: 20px;
		margin-left: 1px;
		margin-right: 1px;
	}

	#contact_items img {
		width: 250px;
		float: left;
	}
	#center_contact {
		margin-left: 65px;
		margin-right: 65px;
	}

#divider_img {
	margin-left: 50px;
}

#eboard_wrap {
	background: #00a7e1;
	padding: 5px;
	margin-top: 0px;
	color: black;
}

#eboard {
	margin: 10px;
	margin-top: 10px;
	background: white;
	padding-top: 10px;
	padding-left: 10px;
}

	#eboard li {
		margin: 5px;
	}

.position {
	font-size: 25px;
	text-transform: uppercase;
}

.eboard_info {
	margin-left: 35px;
	float: left;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 10px;
}
	.eboard_info li {
		float: left;
		font-size: 18px;
	}
	
	.eboard_name {
		min-width: 150px;
	}
	
	.eboard_email {
		min-width: 200px;
	}
	
	.eboard_hours {
		min-width: 250px;
	}






/************************
-----ABOUT---------------
************************/

.about_header {
	height: 75px;
}

.about_section {
	padding: 10px;
}


/************************
-----ABOUT/MUSIC---------
************************/

#about_music_info {
	background: white;
	color:black;
	padding: 15px 15px 15px 15px;
	width: 625px;
	display: inline-block;
	min-height: 170px;
	float: left;
}

#about_music_info p {
	margin-bottom: 10px;
}

#about_music img {
	float: right;
	//width: 100px;
}

/************************
-----SCHEDULE------------
************************/

.schedule_table tr {
	width: 100%;
}

.schedule_table tr td {
	padding: 0px 10px 0px 10px;
}

#schedule_page {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
}

.tab_nav {
	padding-left: 65px;
	height: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: black;
	
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

	.tab_nav li {
		float: left;
		margin: 1px 20px 0px 0px;
		text-transform: uppercase;
		font-size: large;
	}
		.tab_nav li a:hover {
			background: yellow;
		}
		
		.tab_nav li a {
			color: #00a7e1;
			letter-spacing: 2px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
.selected {
	background: yellow;
}
		
.block {
	margin-left: 50px;
	margin-top: 20px;
	width: 820px;
	margin-bottom: 20px;
}

.block_time {
	background: black;
	padding-left: 15px;
	padding-top: 10px;
	width: 190px;
	color: white;
	font-size: xx-large;
	letter-spacing: 2px;
}

.show_details {
	background: black;
	height: 205px;
}
	
	.show_details img {
		float: left;
		margin: 15px;
		height: 175px;
		width: 175px;
	}

	.show_details p {
		padding: 10px;
		background: white;
		margin-top: 15px;
		margin-bottom: 10px;
		height: 155px;
		width: 390px;
		float: left;
	}
		
		.show_details p span {
			text-transform: uppercase;
			font-size: x-large;
			letter-spacing: 1px;
		}

/************************
-----ADMIN---------------
************************/
#login_form {
	display: block;
}

.admin_button {
	float: right;
	width: 90px;
	text-align: center;
	font-family: Verdana;
	margin: 0px;
}

.header_button {
    float: none;
    width: auto;
	font-family: Verdana;
    padding: 6px;
    vertical-align: middle;
    margin: -4px 0 1px 10px;
}

.header_button:first-child { margin-left: 45px; }

.admin_section h2 {
	border-bottom: solid 1px white;
	clear: both;
}

.admin_section ul {
	margin: 5px 0px 10px 0px;
}

.admin_section li {
	border-left: solid 1px white;
	display: inline;
	margin: 0px 8px 0px 0px;
	padding: 0px 0px 0px 10px;
}

.admin_section li:first-child {
	border-left: solid 0px white;
	padding: 0px 0px 0px 0px;
}

.admin_section a {
	color: #00a7e1;
}

.admin_section a:hover {
	color: #0090c4;
}

.admin_section form {
	display: inline;
}
.delete-form input[type=submit] {
	background-color: #f23333;
}

.delete-form input[type=submit]:hover {
	background-color: #ed0909;
}



/************************
-----EBOARD--------------
************************/
.eboard_form_table {
	width: 100%;
}

.eboard_form_table td {
	padding: 5px;
}

.eboard_form_table tr td:first-child {
	padding-left: 0px;
}

.eboard_form_table tr td:last-child {
	padding-right: 0px;
}

#eboard_update_form h4 {
	margin: 10px 0px 0px 0px;
	text-decoration: underline;
}

#eboard_update_form input[type=submit] {
	margin: 20px 0px 0px 0px;
}



/************************
-----EVENTS--------------
************************/
.event_picture {
	height: 270px;
	width: 270px;
	margin-bottom: 20px;
}

.event_caption {
	position: absolute;
	left: 5px;
	top: 2px;
	width: 260px;
	font-size: x-large;
	text-shadow: black 1px 1px 0px,
				 black -1px 1px 0em,
				 black -1px -1px 0em,
				 black 1px -1px 0em,
				 black 0em 1px 0em,
				 black 1px 0em 0em,
				 black 0em -1px 0em,
				 black -1px 0em 0em;
}

.event_caption_bg {
	position: absolute;
	left: 4px;
	top: 1px;
	width: 260px;
	font-size: 24px;
	color: black;
}

/************************
-----SHOWS---------------
************************/
.show_picture {
	height: 150px;
	width: 150px;
}

.show_description {
	width: 150px;
	margin-top: 10px;
	margin-bottom: 20px;
	
}

	.show_description p {
		padding: 5px;
		min-height: 40px;
	}
	
	
.permission_wrap input{
	display: inline-block;
	margin-right: 5px;
}

.permission_wrap select {
	margin-right: 5px;
}

.permission_wrap input[type=checkbox] {
	margin-right: 15px;
	margin-left: -3px;
}

.permission_wrap button, .permission_wrap input[type=submit] {
	float: right;
}

.role_wrap button {
	margin-left: 10px;
}

.error-message {
  color: red;
}

.noty-message {
	display: none;
}
